.class1{
    text-align: center;
    color: coral;
    font-size: xx-large;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: black;
    font-family: 'Inter', sans-serif;
}
.left_box{
    width: 400px;
    height: 640px;
    border: 3px solid coral;
    border-radius: 9%;
    overflow:hidden;
    background-color: aliceblue;
    text-align: center;
    font-size: xx-large;
    font-family: 'Inter', sans-serif;
}